<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budget</title>
</head>
    <body>
    <form action="/getBudget" method="post">

        <label for ="Category" Wwhat is yout class : ></label></br>
        <input type="text" title ="spendingCategory" name="Category" id="Category"/></br>

        <label for ="spending" wie viel möchtest du ausgeben : ></label></br>
        <input type="number" title ="spendingCategory" name="Spending" id="spending"/></br>




    <input type="submit" value="Absenden"/>
    </form>

    </body>
</html>
