<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<form action="/getSalary" method="post">
    <label for="salary_input">income per Month :</label></br>
    <input type="number" title="Salary" name="salary" id="salary_input"/></br>
    <label for="savingsrate_input">savingsrate per month :</label></br>
    <input type="number" title="Savingsrate" name="savingsrate" id="savingsrate_input"/></br>

    <input type="submit" value="Absenden"/>
</form>
</body>
</html>